body {
    background: #D1D1D1; 
    font-family: Garamond, serif;
}

div {
	border-radius: 5px;
}

#container {
    /*position: relative;*/
    width:1200px;
}

#header {
	position: relative;
	height: 180px;
	background: #D1D1D1;
	font-weight: bold;
	color: #525252;
}

#left_header {
	margin-left: 200px;
	margin-top: 40px;
	float:left;
}

#name {
	font-size: 40px;
}

#under_name {
	margin-top: -24px;
	font-size: 18px;
}

#right_header {
    float:right;
	margin-top: 115px;
	font-size: 18px;
	margin-right: 100px;
}

#right_header a {
    padding: 40px;
}

a:hover {
	font-weight: normal;
}

.left {
	position: relative;
	float: left;
	margin-top: 20px;
	width: 48%;
	height: 400px;
	margin-bottom: 10px;
}

#pic {
    margin-top: 20px;
    margin-left: 180px;
}

img {
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    height: 350px;
    width: 350px;
}

.right {
	position: relative;
	float: right;
	margin-top: 20px;
	width: 48%;
	height: 400px;
	margin-bottom: 10px;
	color: #525252;
}

#hello {
    font-size: 80px;
    margin-bottom: 0px;
}

#bit {
    font-size: 50px;
    margin-top: 0px;
}

#about_me {
    font-size: 20px;
    margin-top: -20px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #1690C4;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
