body {
    background: #E0E0E0; 
    font-family: Garamond, serif;
}

div {
	border-radius: 5px;
}

#container {
    /*position: relative;*/
    width:1000px;
    margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	height: 180px;
	background: #E0E0E0;
	font-weight: bold;
	color: #525252;
}

#left_header {
	margin-left: 50px;
	margin-top: 40px;
	float:left;
}

#name {
	font-size: 40px;
}

#under_name {
	margin-top: -24px;
	font-size: 18px;
}

#right_header {
    float:right;
	margin-top: 115px;
	font-size: 18px;
	margin-right: 50px;
}

#right_header a {
    padding: 40px;
}

a {
    text-decoration: none;
    color: #525252;
}

a:hover {
	font-weight: bold;
	color: #1690C4;
}

.left {
	position: relative;
	float: left;
	margin-top: 20px;
	width: 48%;
	height: 400px;
	margin-bottom: 10px;
}

#pic {
    margin-top: 20px;
    margin-left: 50px;
}

#pic img {
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    height: 350px;
    width: 350px;
}

.right {
	position: relative;
	float: right;
	margin-top: 20px;
	width: 44%;
	height: 400px;
	margin-bottom: 10px;
	color: #525252;
	margin-right: 50px;
}

#hello {
    font-size: 80px;
    margin-bottom: 0px;
}

#bit {
    font-size: 50px;
    margin-top: 0px;
    font-weight: normal;
}

#about_me {
    font-size: 20px;
    margin-top: -40px;
}

#resume {
    margin-left: 50px;
    margin-right: 50px;
}

#resume_header {
    font-size: 80px;
    color: white;
    font-weight: normal;
    border-bottom: 2px solid;
    border-color: #E0E0E0;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    text-shadow: 0px 2px 3px #555;
    margin-bottom: 60px;
}

.resume_div {
    color: #525252;
    border-bottom: 2px solid;
    border-color: #E0E0E0;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    margin-bottom: 60px;
    min-height: 140px;
    border-radius: 0px;
}

.resume_circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #1690C4;
    float: left;
    text-align: center;
    display: table;
    margin-top: -20px;
}

.resume_title {
    /*font-size: 30px;
    margin-bottom: 0px;*/
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    word-wrap: break-word;
    vertical-align: middle;
    line-height: normal; 
    display: table-cell;
}

.resume_paragraph {
    font-size: 16px;
    margin-left: 150px;
}

ul {
    list-style-type: none;
}

.resume_job {
    margin-bottom: 16px;
}

.resume_position {
    font-size: 16px;   
}

.resume_company {
    font-size: 14px;
}

.resume_date {
    font-size: 12px;
}

.resume_award {
    margin-bottom: 10px;
}

.resume_award_title {
    font-size: 16px;
}

.resume_award_date {
    font-size: 14px;
}

.resume_bullet {
    list-style-type: square;
    list-style-position: inside;
}

#contact_header {
    font-size: 80px;
    color: white;
    font-weight: normal;
    margin-top: 35px;
    text-shadow: 0px 2px 3px #555;
}

#contact {
    margin-left: 50px;
    margin-right: 50px;
}

.contact_action_sp {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
}

.contact_info {
    font-size: 20px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1690C4;
    float: left;
    margin-right: 20px;
}

#circle_call img {
    margin-top: 20px;
    margin-left: 25px;
}

#circle_email img {
    margin-top: 26px;
    margin-left: 19px;
}

#circle_social img {
    margin-top: 25px;
    margin-left: 26px;
}

#contact a:hover {
	font-weight: normal;
	color: #1690C4;
}

.contact_form {
    float: left;
    margin-top: -50px;
    width: 95%;
}

.text {
    margin-top: 5px;
    background: #D04040;
    font-size: 15px;
    color: #E0E0E0;
    width: 100%;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #E0E0E0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #E0E0E0;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #E0E0E0;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #E0E0E0;
}

#message {
    min-height: 100px;
}

#send_button {
    float: right;
    background: #6EB46E;
    height: 30px;
    width: 50px;
    margin-top: 10px;
    font-size: 15px;
    color: #E0E0E0;
    border: none;
    border-radius: 5px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #1690C4;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
