body {
    background: #D1D1D1; 
    font-family: Garamond, serif;
}

div {
	border-radius: 5px;
}

#container {
    /*position: relative;*/
    width:1200px;
}

#header {
	position: relative;
	height: 180px;
	background: #D1D1D1;
	font-weight: bold;
	color: #525252;
}

#left_header {
	margin-left: 200px;
	margin-top: 40px;
	float:left;
}

#name {
	font-size: 40px;
}

#under_name {
	margin-top: -24px;
	font-size: 18px;
}

#right_header {
    float:right;
	margin-top: 115px;
	font-size: 18px;
	margin-right: 100px;
}

#right_header a {
    padding: 40px;
}

a {
    text-decoration: none;
    color: #525252;
}

a:hover {
	font-weight: normal;
	color: #1690C4;
}

.left {
	position: relative;
	float: left;
	margin-top: 20px;
	width: 48%;
	height: 400px;
	margin-bottom: 10px;
}

#pic {
    margin-top: 20px;
    margin-left: 180px;
}

img {
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    height: 350px;
    width: 350px;
}

.right {
	position: relative;
	float: right;
	margin-top: 20px;
	width: 48%;
	height: 400px;
	margin-bottom: 10px;
	color: #525252;
}

#hello {
    font-size: 80px;
    margin-bottom: 0px;
}

#bit {
    font-size: 50px;
    margin-top: 0px;
    font-weight: normal;
}

#about_me {
    font-size: 20px;
    margin-top: -20px;
}

#resume {
    margin-left: 200px;
    margin-right: 100px;
}

#resume_header {
    font-size: 80px;
    color: white;
    font-weight: normal;
    border-bottom: 2px solid;
    border-color: #525252;
}

.resume_div {
    color: #525252;
    border-bottom: 2px solid;
    border-color: #525252;
}

.resume_title {
    font-size: 30px;
    margin-bottom: 0px;
}

.resume_paragraph {
    font-size: 15px;
}

ul {
    list-style-type: none;
}

.resume_job {
    margin-bottom: 40px;
}

.resume_position {
    font-size: 22px;   
}

.resume_company {
    font-size: 20px;
}

.resume_date {
    font-size: 18px;
}

.resume_award {
    margin-bottom: 10px;
}

.resume_award_title {
    font-size: 18px;
}

.resume_award_date {
    font-size: 15px;
}

.resume_bullet {
    list-style-type: square;
    list-style-position: inside;
}

#contact_header {
    font-size: 80px;
    color: white;
    font-weight: normal;
}

#contact {
    margin-left: 200px;
    margin-right: 100px;
}

.contact_action_sp {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
}

.contact_action_sp_a {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact_info {
    font-size: 20px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #1690C4;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
